@import "tailwindcss";

@font-face {
  font-family: "Space Mono";
  font-weight: 400;
  src: url("./assets/fonts/space-mono-v15-latin-regular.woff2");
}

@font-face {
  font-family: "Space Mono";
  font-weight: 700;
  src: url("./assets/fonts/space-mono-v15-latin-700.woff2");
}

@theme {
  --font-space-mono: "Space Mono", monospace;

  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.75rem;

  --font-weight-*: initial;
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --color-*: initial;
  --color-white: hsl(0, 0%, 100%);
  --color-red: hsl(0, 92%, 62%);

  --color-blue-50: hsl(227, 100%, 98%);
  --color-blue-300: hsl(217, 20%, 51%);
  --color-blue-400: hsl(212, 100%, 50%);
  --color-blue-500: hsl(217, 35%, 45%);
  --color-blue-800: hsl(217, 21%, 21%);
  --color-blue-900: hsl(222, 41%, 20%);
  --color-blue-950: hsl(220, 40%, 13%);
}
